.landing-container {
  padding: 60px 80px 80px 80px;
  background: #1d2341;
}

.landing-info {
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
  color: var(--light-blue);
}

.landing-list .slide-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap-reverse;
  height: min-content;
}

.landing-list .landing-image {
  flex: 300px;
  justify-content: center;
  max-width: 600px;
  box-shadow: 0 0 12.5px 2px rgba(0, 0, 0, 0.2);
}

.landing-list .landing-image img {
  filter: brightness(1);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.landing-list .landing-content {
  display: flex;
  flex-direction: column;
}

.landing-list .landing-content .content-texts {
  display: grid;
  gap: 15px;
  margin-bottom: 40px;
}

.landing-list .landing-content .content-texts .landing-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: #fff;
  width: 25ch;
}

.landing-container .landing-content .content-texts .landing-description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #9c9c9c;
  width: 60ch;
}

.landing-container .landing-content .texts-footer {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.landing-container .landing-content .texts-footer .rate {
  font-size: 0.9rem;
}

.landing-container .landing-content .texts-footer .landing-date {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.landing-container .landing-content .texts-footer .landing-date:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 5px;
  background: var(--light-blue);
  display: inline-block;
}

.landing-button-container .landing-button {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;
  border-radius: 10px;
  width: fit-content;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--light-blue);
  background: var(--secondary-blue);
  box-shadow: 0 0 12.5px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.landing-button-container .landing-button:hover {
  box-shadow: 0 0 12.5px 2px var(--light-blue);

  transform: translateY(-5px);
}

.landing-button-container .landing-button img {
  width: 16px;
}

@media (max-width: 1100px) {
  .landing-list .landing-content .content-texts .landing-title {
    font-size: 1.9rem;
  }

  .landing-container .landing-content .content-texts .landing-description {
    font-size: 0.8rem;
  }

  .landing-list .slide-container {
    gap: 20px;
  }

  .landing-list .landing-image {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .landing-list .landing-content .content-texts .landing-title {
    font-size: 1.7rem;
  }

  .landing-container .landing-content .content-texts .landing-description {
    font-size: 0.8rem;
    width: 100%;
  }

  .landing-container {
    padding: 30px;
  }

  .landing-container .landing-content .texts-footer .rate {
    font-size: 0.9rem;
  }

  .landing-container .landing-content .texts-footer .landing-date {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .landing-container .landing-content .texts-footer .landing-date:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 5px;
    background: var(--light-blue);
    display: inline-block;
  }
}

@media (max-width: 550px) {
  .landing-container .landing-content .texts-footer .rate {
    font-size: 0.8rem;
  }

  .landing-container .landing-content .texts-footer .landing-date {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .landing-container .landing-content .texts-footer .landing-date:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 5px;
    background: var(--light-blue);
    display: inline-block;
  }

  .landing-container .landing-content .content-texts .landing-description {
    font-size: 0.7rem;
  }

  .landing-list .landing-content .content-texts .landing-title {
    font-size: 1.6rem;
  }

  .landing-button-container .landing-button {
    padding: 10px 40px;
    font-size: 1rem;
  }

  .landing-button-container .landing-button img {
    width: 14px;
  }

  .landing-list .landing-content .content-texts {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .landing-list .landing-content .content-texts .landing-title {
    font-size: 1.3rem;
    width: auto;
  }

  .landing-container .landing-content .content-texts .landing-description {
    font-size: 0.6rem;
  }

  .landing-button-container .landing-button {
    padding: 10px 40px;
    font-size: 0.8rem;
    gap: 5px;
  }

  .landing-button-container .landing-button img {
    width: 10px;
  }

  .landing-container .landing-content .texts-footer .rate {
    font-size: 0.7rem;
  }

  .landing-container .landing-content .texts-footer .landing-date {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .landing-container .landing-content .texts-footer .rate img {
    width: 8px;
  }

  .landing-container .landing-content .texts-footer .landing-date:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 5px;
    background: var(--light-blue);
    display: inline-block;
  }
}
