.section-default {
  padding: 30px 80px;
  display: grid;
  gap: 24px;
}

.section-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  color: #fff;
}

.movie-list-container {
  position: relative;
  overflow-x: scroll;
}

.movie-list-container::-webkit-scrollbar {
  display: none;
}

.list-arrow {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.movie-list-container:hover .list-arrow {
  opacity: 1;
  background: transparent;
}

.list-arrow img {
  width: 34px;
  pointer-events: none;
  user-select: none;
}

.arrow-left {
  left: 0;
  right: auto;
  background: linear-gradient(to left, transparent 0%, #000 200%) !important;
}

.arrow-right {
  right: 0;
  left: auto;
  background: linear-gradient(to right, transparent 0%, #000 200%) !important;
}

.movie-list {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  /* border: 1px solid red; */
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.movie-list li {
  position: relative;
  width: fit-content;
  box-shadow: 0 0 12.5px 2px rgba(0, 0, 0, 0.2);
}

.movie-list li .movie-image {
  width: 180px;
}

.movie-list li .movie-image img {
  border-radius: 6px;
}

.movie-list li .movie-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, transparent 60%, #000 100%);
}

.movie-list li .movie-content .movie-rate {
  display: flex;
  justify-content: end;
  height: fit-content;
}

.movie-list li .movie-content .movie-rate .rate {
  background: rgba(0, 0, 0, 0.3);
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 0.9rem;
}

.movie-list li .movie-content .movie-rate .rate img {
  width: 11px;
}

.movie-list li .movie-content .movie-info {
  display: flex;
  justify-content: space-between;
  align-self: end;
  font-family: "Manrope", sans-serif;
  color: var(--light-blue);
  font-weight: 600;
  font-size: 0.9rem;
}

.movie-list li .movie-content .movie-info .info-views {
  display: flex;
  align-items: center;
  gap: 3px;
}

.movie-list li .movie-content .movie-info .info-views img {
  width: 13px;
}

@media (max-width: 700px) {
  .section-default {
    padding: 30px;
  }

  .section-title {
    font-size: 1.4rem;
  }

  .movie-list li .movie-image {
    width: 130px;
  }

  .movie-list li .movie-content .movie-info {
    font-size: 0.7rem;
  }

  .movie-list li .movie-content .movie-rate .rate {
    font-size: 0.7rem;
  }

  .list-arrow {
    display: none;
  }
}
